<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <springProperty scop="context" name="spring.application.name" source="spring.application.name" defaultValue="logs"/>
    <property name="log.path" value="logs/${spring.application.name}"/>

    <!-- Console log output -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %cyan(%logger{100}) - %highlight(%msg) %n
            </pattern>
        </encoder>
    </appender>

    <!-- Log file info output -->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM}/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level [%logger{50}] %file:%line - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Log ferrorsrror output -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM}/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level [%logger{50}] %file:%line - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="org.springframework.http" level="info"/>
    <logger name="org.springframework.security" level="info"/>
    <logger name="org.springframework.boot" level="info"/>
    <logger name="org.springframework.beans" level="info"/>
    <logger name="org.springframework.core" level="info"/>
    <logger name="org.springframework.data" level="info"/>
    <logger name="org.springframework.context" level="info"/>
    <logger name="org.springframework.cloud" level="info"/>
    <logger name="org.springframework.boot.web.embedded" level="info"/>
    <logger name="_org.springframework.web.servlet" level="info"/>
    <logger name="org.springframework.jmx" level="info"/>
    <logger name="org.springframework.aop" level="info"/>
    <logger name="org.springframework.ui" level="info"/>
    <logger name="org.springframework.boot.actuate" level="info"/>
    <logger name="org.hibernate.validator" level="info"/>
    <logger name="org.jboss" level="info"/>
    <logger name="org.eclipse.jetty" level="info"/>
    <logger name="org.mybatis" level="info"/>
    <logger name="org.apache.ibatis" level="info"/>
    <logger name="com.zaxxer.hikari" level="info"/>
    <logger name="reactor" level="info"/>
    <logger name="io.netty" level="info"/>
    <logger name="io.lettuce" level="info"/>
    <logger name="springfox.documentation" level="info"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="info"/>
    <logger name="org.apache.http" level="info"/>

    <logger name="com.sakuraio.nk" level="debug"/>

    <!--开发环境:打印控制台-->
    <springProfile name="dev">
        <root level="debug">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <!--测试环境-->
    <springProfile name="test">
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <!--生产环境-->
    <springProfile name="pro">
        <root level="info">
            <appender-ref ref="info"/>
            <appender-ref ref="error"/>
        </root>
    </springProfile>
</configuration>
